@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 39.5,89.8%,57.8%;
  --primary-foreground: 0,0%,0%;
}
}

body {
  color: rgb(var(--foreground-rgb));
}
