@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary: 39.5, 89.8%, 57.8%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 0, 0%, 0%, 1;
    --secondary-foreground: 0, 100%, 100%, 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.slick-slider .slick-prev:before,
:before {
  display: none;
}
.slick-next {
  left: -85px;
}
.slick-next {
  right: 85px;
}
.on-sale-section .slick-prev,
.on-sale-section .slick-next {
  width: 48px;
  height: 48px;
}
.slick-arrow .slick-next,
.slick-arrow .slick-next {
  display: unset !important;
}
